.btn-submit-entrance{
    min-width: 10rem;
    color: rgb(8,60,119);
    border: 1px solid rgb(8,60,119);
    background-color: white;
}

.btn-submit-entrance:hover{
    color: white;
    border: 1px solid rgb(8,60,119);
    background-color: rgb(8,60,119);
}

 /* Style the button that is used to open and close the collapsible content */
.comment-collapsible-button {
  background-color: #f8f9fa;
  color: #495057;
  cursor: pointer;
  padding: 14px 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 14px;
    letter-spacing: 0.064em;
    transition: 0.1s;
}

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
/*.active, .comment-collapsible-button:hover {*/
/*  background-color: #ccc;*/
/*}*/

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
.comment-collapsible-button:hover {
  background-color: #f0f2f4;
}

.active-button{
    background-color: #f0f2f4 !important;
  outline: none;

}

.comment-collapsible-button:focus {
  outline: none;
}

 /*Style the collapsible content. Note: hidden by default */
.comment-collapsible-content {
  display: none;
  overflow: hidden;
  background-color: white;
}

.comment-submit-button{
    background-color: #f0f2f4;
    color: #495057;
    border: none;
    letter-spacing: 0.064em;
}

.comment-submit-button:hover{
    background-color: #d3d9de;
    color: #495057;
    border: none;
    letter-spacing: 0.08em;
}